<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adj.xiaotuanti.dao.Relation_Part_UserDAO">

    <!-- resultMap -->
    <resultMap type="com.adj.xiaotuanti.pojo.Relation_Part_User" id="Relation_Part_UserResultMap">
        <id property="id" column="relation_id"/>
        <association property="part" column="{partId=relation_part}"
                     select="com.adj.xiaotuanti.dao.PartDAO.getPartById"/>
        <association property="user" column="{userId=relation_user}"
                     select="com.adj.xiaotuanti.dao.UserDAO.getUserById"/>
    </resultMap>

    <!-- add -->
    <insert id="addRelation" parameterType="com.adj.xiaotuanti.pojo.Relation_Part_User"
            useGeneratedKeys="true" keyProperty="relation.id">
        insert into Relation_Part_User (
        relation_part
        <if test=" relation.user != null ">
            , relation_user
        </if>
        ) value (
        #{relation.part.id}
        <if test=" relation.user != null ">
            , #{relation.user.id}
        </if>
        );
    </insert>

    <!-- update -->
    <update id="updateRelation" parameterType="com.adj.xiaotuanti.pojo.Relation_Part_User">
        update Relation_Part_User set
        relation_id = #{relation.id}
        <if test=" relation.part != null ">
            , relation_part=#{relation.part.id}
        </if>
        <if test=" relation.user != null ">
            , relation_user=#{relation.user.id}
        </if>
        where relation_id = #{relation.id};
    </update>

    <!-- delete -->
    <delete id="deleteRelation" parameterType="com.adj.xiaotuanti.pojo.Relation_Part_User">
		delete from Relation_Part_User where relation_id = #{relation.id};
	</delete>
    <delete id="deleteRelationsByPart" parameterType="com.adj.xiaotuanti.pojo.Part">
		delete from Relation_Part_User where relation_part = #{part.id};
	</delete>
    <delete id="deleteRelationById">
		delete from Relation_Part_User where relation_id = #{relationId};
	</delete>

    <!-- select -->
    <select id="getRelation" parameterType="com.adj.xiaotuanti.pojo.Relation_Part_User"
            resultMap="Relation_Part_UserResultMap">
		select * from Relation_Part_User where relation_id = #{relation.id};
	</select>
    <select id="getRelationById" resultMap="Relation_Part_UserResultMap">
		select * from Relation_Part_User where relation_id = #{relationId};
	</select>
    <select id="getAllRelations" resultMap="Relation_Part_UserResultMap">
		select * from Relation_Part_User;
	</select>

    <select id="getUserIdxByPartId" resultType="String">
		select relation_user from Relation_Part_User where relation_part = #{partId};
	</select>

</mapper>
